/* Fonts */


/* montserrat-regular - latin */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('../fonts/montserrat/montserrat-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat/montserrat-v15-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* montserrat-500 - latin */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local(''), url('../fonts/montserrat/montserrat-v15-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat/montserrat-v15-latin-500.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* montserrat-600 - latin */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: local(''), url('../fonts/montserrat/montserrat-v15-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat/montserrat-v15-latin-600.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* montserrat-700 - latin */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local(''), url('../fonts/montserrat/montserrat-v15-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat/montserrat-v15-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* raleway-600 - latin */

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    src: local(''), url('../fonts/raleway/raleway-v19-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/raleway/raleway-v19-latin-600.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* raleway-700 - latin */

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: local(''), url('../fonts/raleway/raleway-v19-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/raleway/raleway-v19-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* Général */

:root {
    --primary: #F16822;
    --primary-text: #333333;
    --secondary-text: #EEEEEE;
    --logo-text: #707070;
    --footer-text: #CCCCCC;
    --tags-color: #444444;
    --latest-bg: #F9F9F9;
    --shadow-color: #00000029;
}

body {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-text);
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: #fff;
}

h1,
h2,
h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
}

h1 {
    color: var(--primary);
    font-size: 6.4rem;
    line-height: 1.7;
    padding-bottom: 5rem;
}

h2 {
    font-size: 4.8rem;
    line-height: 1.17;
    padding-bottom: 5.4rem;
}

p {
    text-align: center;
    font-size: 2.4rem;
    line-height: calc(32 / 24);
}

.container-large {
    width: 100%;
    max-width: 128rem;
    margin-left: auto;
    margin-right: auto;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.container-medium {
    width: 100%;
    max-width: 104.8rem;
    margin-left: auto;
    margin-right: auto;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

section {
    padding-top: 17rem;
}


/* Header */

.main-header .container-large {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12rem;
}

.logo {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 5rem;
}

.logo img {
    grid-row: 1 / -3;
    text-align: right;
    padding-right: 1.8rem;
}

.logo-desc {
    font-size: 1.4rem;
    text-align: left;
}

.logo-name {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    text-align: left;
}


/* Nav */

.main-nav li {
    display: inline-block;
}

.main-nav a {
    text-decoration: none;
    color: var(--primary-text);
    font-weight: 700;
    font-size: 1.4rem;
    text-transform: uppercase;
    padding: 1.55rem 1.7rem;
    transition: .3s cubic-bezier(.1, .5, .9, .5);
}

.main-nav a:hover,
.main-nav a:focus {
    background-color: var(--primary);
    color: #fff;
}


/* Main section */

.main-section {
    background-image: url(../img/slider1/slider1.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 35rem;
    padding-bottom: 30rem;
    position: relative;
}

@media (min-resolution: 144dpi) {
    .hero {
        background-image: url(../img/slider1/slider1@2x.jpg);
    }
}

.main-section .container-large {
    display: flex;
    align-items: center;
}

.main-section .container-medium {
    order: 1;
}

@media screen and (max-width: 568px) {
    .main-section h1 {
        font-size: 5rem;
    }
}

.main-section p {
    font-size: 3.2rem;
    line-height: 1;
    font-weight: 400;
}

.btn-right {
    min-height: 4.294rem;
    min-width: 4.294rem;
    padding: 0;
    border-style: none;
    border-radius: 50%;
    order: 2;
    z-index: 1;
}

.btn-left {
    order: 0;
    min-height: 4.294rem;
    min-width: 4.294rem;
    padding: 0;
    border-style: none;
    border-radius: 50%;
    z-index: 1;
}


/* Diaporama */

.nav-dots {
    position: absolute;
    display: flex;
    width: 15rem;
    gap: 1rem;
    bottom: 8rem;
    right: 50%;
    transform: translate(50%);
}

.dot {
    width: 1rem;
    height: 1rem;
    background-color: var(--primary-text);
}


/* .diapo {
    position: relative;
    overflow: hidden;
}

.diapo-elements {
    display: flex;
    transition: 1s linear;
}

.element {
    flex: 1 0 100%;
    position: relative;
} */


/* Services */

.services {
    padding-bottom: 17rem;
}

.services h2+p {
    padding-bottom: 5rem;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5rem 1.5rem;
}

.services-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
}

.services-img {
    height: 12.5rem;
    width: 12.5rem;
    background-color: var(--secondary-text);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-img img {
    margin-left: auto;
    margin-right: auto;
    max-width: 5rem;
    max-height: 5rem;
}

.services h3 {
    font-size: 2.4rem;
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
}

.services-list p {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 1.6rem;
    line-height: 1.5;
}


/* Presentation */

.presentation {
    background-image: url(../img/bokehback/bokehback.jpg);
    background-size: cover;
    background-position: center;
}

@media (min-resolution: 144dpi) {
    .presentation {
        background-image: url(../img/bokehback/bokehback@2x.jpg);
    }
}

.presentation h2 {
    color: var(--primary);
}

.presentation p {
    font-size: 2.4rem;
    color: var(--secondary-text);
    padding-bottom: 15rem;
}

.presentation img {
    margin-left: auto;
    margin-right: auto;
}


/* Last Post */

.last-post {
    background-color: var(--latest-bg);
    padding-bottom: 17rem;
}

.last-post h2+p {
    font-size: 2.4rem;
    padding-bottom: 14rem;
}

.post-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;*/
    gap: 10rem 4rem;
}

.post-card {
    background-color: #fff;
    max-width: 36.8rem;
    padding: 2.5rem;
    box-shadow: var(--shadow-color) 0 2px 5px;
}

.post-card a {
    text-decoration: none;
    color: var(--primary-text);
}

.post-card img {
    margin-bottom: 7rem;
}

.post-card h3 {
    font-size: 4rem;
    color: var(--primary);
    font-weight: 600;
    line-height: 1.2;
    padding-bottom: 2.7rem;
}

.post-card p {
    font-size: 1.6rem;
    line-height: 1.5;
    padding-bottom: 2rem;
}

.post-card:hover {
    outline: .5rem white solid;
    box-shadow: 0 20px 30px 5px var(--shadow-color);
}


/* Fun facts */

.facts {
    background-image: url(../img/funfactsbg/bg-facts.jpg);
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.9);
    background-size: cover;
    background-position: center;
    padding-bottom: 17rem;
}

@media (min-resolution: 144dpi) {
    .facts {
        background-image: url(../img/funfactsbg/bg-facts@2x.jpg);
    }
}

.facts h2 {
    padding-bottom: 8.3rem;
}

.facts-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 4rem 3rem;
}

.facts-num {
    font-size: 6.4rem;
    color: var(--primary);
    font-weight: 700;
    line-height: calc(78/64);
    padding-bottom: 2.3rem;
}

.facts-type {
    font-size: 2.4rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: calc(32/24);
}


/* Comments */

.comments {
    background-image: url(../img/bg-comments/bg-comments.jpg);
    background-size: cover;
    background-position: center;
}

@media (min-resolution: 144dpi) {
    .comments {
        background-image: url(../img/bg-comments/bg-comments@2x.jpg);
    }
}

.comments .container-large {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5rem;
    padding-bottom: 21rem;
}

.comments figure {
    min-width: 22rem;
    min-height: 22rem;
    border-radius: 50%;
}

.comments img {
    height: 100%;
    border-radius: 50%;
}

.comments-content {
    max-width: 90rem;
}

.comments h2 {
    font-size: 4.8rem;
    color: #fff;
    text-align: left;
    line-height: calc(56/48);
    padding-bottom: 2.4rem;
}

.comments p {
    color: var(--secondary-text);
    font-size: 2.4rem;
    line-height: calc(32/24);
    text-align: left;
    font-weight: 400;
}


/* Footer */

footer {
    background-color: var(--primary-text);
    padding-top: 11rem;
}

.footer-nav {
    display: flex;
    justify-content: space-around;
    text-align: left;
    flex-wrap: wrap;
    gap: 4rem;
}

.footer-nav>li {
    max-width: 31.5rem;
}

footer h3 {
    color: var(--primary);
    font-size: 2.4rem;
    line-height: calc(29/24);
    text-align: left;
    text-transform: uppercase;
    padding-bottom: 1.9rem;
}

.footer-nav a {
    color: var(--footer-text);
    font-size: 2rem;
    text-decoration: none;
}

.footer-links a::before {
    content: url(../img/angle-double-right.svg)"  ";
}

.footer-tags {
    display: flex;
    max-width: 25rem;
    flex-wrap: wrap;
    gap: 1.2rem;
}

.footer-tags a {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    background-color: var(--tags-color);
    padding: .5rem 1.2rem;
}

.footer-tags a:hover,
.footer-tags a:focus {
    color: var(--tags-color);
    background-color: var(--footer-text);
}

.footer-links a {
    line-height: 2;
}

.footer-links a:hover,
.footer-links a:focus,
.contacts-item a:hover,
.contacts-item a:focus {
    text-decoration: underline;
    color: white;
}

.contacts-item {
    line-height: 1.6;
    padding-bottom: 2.5rem;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
}

.footer-contacts img {
    align-self: center;
}

footer hr {
    margin-top: 11rem;
    border-color: var(--logo-text);
}

.foot-footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    min-height: 10rem;
}

.foot-footer p {
    color: var(--logo-text);
    font-size: 2.4rem;
    font-weight: 500;
}

@media screen and (max-width:70rem) {
    .foot-footer ul {
        padding-left: 0;
        margin-right: auto;
        margin-left: auto;
    }
    .foot-footer p {
        margin-left: auto;
        margin-right: auto;
    }
}

.foot-footer li {
    display: inline-block;
    padding-left: 2.6rem;
    margin-left: auto;
    margin-right: auto;
}

.fb-logo:focus path,
.fb-logo:hover path {
    fill: #0a74e7;
}

.twt-logo:focus path,
.twt-logo:hover path {
    fill: #1fa2f1;
}

.google-logo:focus path,
.google-logo:hover path {
    fill: #d54433;
}